#contenedor {
  height: 50px;
  background-color: rgb(43, 43, 44);
  text-align: center;
  justify-content: center;
  padding-top: 7px;
}

#tit {
  position: absolute;
  left: 15px;
  top: 6px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: goldenrod;
}

.menu {
  border-style: none !important;
}

.button {
  margin-top: 5px;
  color: white;
  display: flex;
  right: 50px;
}
.button:hover {
  opacity: 50%;
  color: black;
  background-color: lightgrey;
  color: white;
}


#cart {
  display: flex;
  right: 20px;
  position: absolute;
  top: 15px;
  color: white;
}

#num {
  position: absolute;
  right: 50px;
  top: 15px;
  color: white;
}
#card {
  width: 1000px;
  height: 280px;
  margin-top: 25px;
  background-color: white;
}
#card:hover {
  border-width: 2px;
}

.text-welcome {
  position: absolute;
  top: 300px;
  left: 300px;
  font-size: 150px;
  border: 2px solid white;
  color: whitesmoke;
  padding: 3px;
}


#titulocard {
  margin-top: -15px;
  font-size: 1rem;
}
#texto {
  font-size: .7rem;
  margin-bottom: -10px;
}
#categ {
  font-size: .8rem;
  margin-bottom: -10px;
}
#valo {
  font-size: .8rem;
  margin-bottom: -10px;
}
#cant {
  font-size: .8rem;
  margin-bottom: -10px;
}
#btncard {
  margin-top: -50px;

}
.footer {
  background-color: black;
  height: 150px;
  width: 100vw;
}
#main {
  background-color: whitesmoke;
}
#root {
  background-color: whitesmoke;
}

/* ItemDetail */

.detailcont {
  height: 100vh;
  background-color: whitesmoke;
}

#contpromo {
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  margin: 15px;
}

#contimg {
  width: 40%;
  position: absolute;
  position: absolute;
  left: 100px;
  top: 130px;
}

#detailImagen {
  border-radius: 20px; 
}

#conttit {
  width: 40%;
  position: absolute;
  right: 100px;
  top: 130px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
}

.detailTittle {
  font-size: 30px;
}

#contdet {
  width: 40%;
  position: absolute;
  right: 100px;
  top: 185px;
  background-color: white;
  border-radius: 20px;
  text-align: start;
  padding: 10px;
}

.detailDetalle {
  font-size: 20px;
}

#contval {
  width: 40%;
  position: absolute;
  right: 100px;
  top: 365px;
  background-color: white;
  border-radius: 20px;
  text-align: start;
  padding: 10px;
}


#contpres {
  width: 40%;
  position: absolute;
  right: 100px;
  top: 420px;
  background-color: white;
  border-radius: 20px;
  text-align: start;
  padding: 10px;
}

#contbtn {
  width: 40%;
  position: absolute;
  right: 100px;
  top: 475px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}

/* Cart */

.cartcontainer {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: grey;
}

.detallecont {
  padding-left: 6%;
  padding-right: 6%;
  font-size: 16px;
  font-weight: bold;
}

.prodcontainer {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.prodcont {
  position: absolute;
  left: 60px;
  font-size: 16px;
  width: 500px;
  margin-bottom: 25px;
  margin-top: 10px;
}

.prodcont1 {
  position: absolute;
  left: 420px;
  font-size: 16px;
  width: 300px;
  margin-bottom: 25px;
  margin-top: 10px;
}

.prodcont2 {
  position: absolute;
  left: 735px;
  font-size: 16px;
  width: 300px;
  margin-bottom: 25px;
  margin-top: 10px;
}

.prodcont4 {
  margin-left: 1125px;
  margin-top: 8px;
  margin-bottom: 5px;
}