#contenedor {
  height: 50px;
  background-color: grey;
  text-align: center;
  justify-content: center;
  padding-top: 7px;
}

#tit {
  position: absolute;
  left: 15px;
  top: 0px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: silver;
}

.menu {
  border-style: none !important;
}

.button {
  border: 2px solid lightgrey;
  border-radius: 15%;
  padding: 3px;
  margin-top: -5px;
}
.button:hover {
  opacity: 50%;
  color: black;
  background-color: lightgrey;
  color: white;
}


#cart {
  display: flex;
  right: 10px;
  position: absolute;
  top: 7px;
}

#num {
  position: absolute;
  right: 35px;
  top: 7px;
}
#card {
  width: 1000px;
  height: 280px;
  margin-top: 25px;
  background-color: white;
}
#card:hover {
  border-width: 2px;
}
#titulocard {
  margin-top: -15px;
  font-size: 1rem;
}
#texto {
  font-size: .7rem;
  margin-bottom: -10px;
}
#categ {
  font-size: .8rem;
  margin-bottom: -10px;
}
#valo {
  font-size: .8rem;
  margin-bottom: -10px;
}
#cant {
  font-size: .8rem;
  margin-bottom: -10px;
}
#btncard {
  margin-top: -50px;

}
.footer {
  background-color: blueviolet;
  height: 150px;
  width: 100vw;
}
#main {
  background-color: whitesmoke;
}
#root {
  background-color: whitesmoke;
}