#contenedor {
  height: 50px;
  background-color: grey;
  text-align: center;
  justify-content: center;
  padding-top: 7px;
}

#tit {
  position: absolute;
  left: 15px;
  top: 0px;
  font-size: 1.5rem;
  font-weight: bold;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: silver;
}

.menu {
  border-style: none !important;
}

.button {
  border: 2px solid lightgrey;
  border-radius: 5px;
  padding: 3px;
  margin-top: -5px;
}
.button:hover {
  opacity: 50%;
  color: black;
  background-color: lightgrey;
  color: white;
}


#cart {
  display: flex;
  right: 10px;
  position: absolute;
  top: 7px;
}

#num {
  position: absolute;
  right: 35px;
  top: 7px;
}
#card {
  width: 1000px;
  height: 280px;
  margin-top: 25px;
  background-color: white;
}
#card:hover {
  border-width: 2px;
}
#titulocard {
  margin-top: -15px;
  font-size: 1rem;
}
#texto {
  font-size: .7rem;
  margin-bottom: -10px;
}
#categ {
  font-size: .8rem;
  margin-bottom: -10px;
}
#valo {
  font-size: .8rem;
  margin-bottom: -10px;
}
#cant {
  font-size: .8rem;
  margin-bottom: -10px;
}
#btncard {
  margin-top: -50px;

}
.footer {
  background-color: blueviolet;
  height: 150px;
  width: 100vw;
}
#main {
  background-color: whitesmoke;
}
#root {
  background-color: whitesmoke;
}

/* ItemDetail */

.detailcont {
  height: 100vh;
  background-color: whitesmoke;
}

#contpromo {
  text-align: center;
  font-size: 2rem;
  font-style: italic;
  font-weight: bold;
  margin: 15px;
}

#contimg {
  width: 40%;
  position: absolute;
  position: absolute;
  left: 100px;
  top: 130px;
  
}

#detailImagen {
  border-radius: 20px;
}

#conttit {
  width: 40%;
  position: absolute;
  right: 100px;
  top: 130px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
}

.detailTittle {
  font-size: 30px;
}

#contdet {
  width: 40%;
  position: absolute;
  right: 100px;
  top: 185px;
  background-color: white;
  border-radius: 20px;
  text-align: start;
  padding: 10px;
}

.detailDetalle {
  font-size: 20px;
}

#contval {
  width: 40%;
  position: absolute;
  right: 100px;
  top: 365px;
  background-color: white;
  border-radius: 20px;
  text-align: start;
  padding: 10px;
}


#contpres {
  width: 40%;
  position: absolute;
  right: 100px;
  top: 420px;
  background-color: white;
  border-radius: 20px;
  text-align: start;
  padding: 10px;
}

#contbtn {
  width: 40%;
  position: absolute;
  right: 100px;
  top: 475px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  padding: 10px;
}

/* Cart */

.cartcontainer {
  display: flex;
  justify-content: center;
  width: 100vw;
}

.detallecont {
  padding: 2.5%;
}